
<!DOCTYPE html>
<!--[if IEMobile 7 ]><html class="no-js iem7"><![endif]-->
<!--[if lt IE 9]><html class="no-js lte-ie8"><![endif]-->
<!--[if (gt IE 8)|(gt IEMobile 7)|!(IEMobile)|!(IE)]><!--><html class="no-js" lang="en"><!--<![endif]-->
<head>
  <meta charset="utf-8">
  <title>@yorzi</title>
  <meta name="author" content="Andy Wang">
  

  <!-- http://t.co/dKP3o1e -->
  <meta name="HandheldFriendly" content="True">
  <meta name="MobileOptimized" content="320">
  <meta name="viewport" content="width=device-width, initial-scale=1">

  

  <link rel="canonical" href="http://tech.wangyaodi.com/page4/index.html"/>
  <link href="/favicon.png" rel="shortcut icon" />
  <link href="/stylesheets/screen.css" media="screen, projection" rel="stylesheet" type="text/css">
  <script src="/javascripts/modernizr-2.0.js"></script>
  <script src="http://s3.amazonaws.com/ender-js/jeesh.min.js"></script>
  <script src="/javascripts/octopress.js" type="text/javascript"></script>
  
  <link href="/atom.xml" rel="alternate" title="@yorzi" type="application/atom+xml"/>
  
  <script type="text/javascript">
    var _gaq = _gaq || [];
    _gaq.push(['_setAccount', 'UA-17239385-1']);
    _gaq.push(['_trackPageview']);

    (function() {
      var ga = document.createElement('script'); ga.type = 'text/javascript'; ga.async = true;
      ga.src = ('https:' == document.location.protocol ? 'https://ssl' : 'http://www') + '.google-analytics.com/ga.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(ga, s);
    })();
  </script>


  
  <script type="text/javascript">
    (function() {
      var script = document.createElement('script'); script.type = 'text/javascript'; script.async = true;
      script.src = 'https://apis.google.com/js/plusone.js';
      var s = document.getElementsByTagName('script')[0]; s.parentNode.insertBefore(script, s);
    })();
  </script>


  
  <script type="text/javascript">
    (function(){
      var twitterWidgets = document.createElement('script');
      twitterWidgets.type = 'text/javascript';
      twitterWidgets.async = true;
      twitterWidgets.src = 'http://platform.twitter.com/widgets.js';
      document.getElementsByTagName('head')[0].appendChild(twitterWidgets);
    })();
  </script>


  <!--Fonts from Google's Web font directory at http://google.com/webfonts -->
<link href='http://fonts.googleapis.com/css?family=PT+Serif:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>
<link href='http://fonts.googleapis.com/css?family=PT+Sans:regular,italic,bold,bolditalic' rel='stylesheet' type='text/css'>

</head>

<body  >
  <header><hgroup>
  <h1><a href="/" style="color:red">@yorzi</a></h1>
  
    <h2>great people share knowledge</h2>
  
  <a href="https://github.com/yorzi/site_engine"><img style="position: absolute; top: 0; right: 0; border: 0;" src="/images/forkme.png" alt="Fork me on GitHub"></a>
</hgroup>

</header>
  <nav role=navigation><ul role=subscription data-subscription="rss email">
  <li><a href="/atom.xml" rel="subscribe-rss" title="subscribe via RSS">RSS</a></li>
  
    <li><a href="wangyaodi@gmail.com" rel="subscribe-email" title="subscribe via email">Email</a></li>
  
</ul>
<form action="http://google.com/search" method="get">
  <fieldset role="site-search">
    <input type="hidden" name="q" value="site:tech.wangyaodi.com" />
    <input class="search" type="text" name="q" results="0" placeholder="Search"/>
  </fieldset>
</form>
<ul role=main-navigation>
  <li><a href="http://blog.wangyaodi.com">Blog</a></li>
  <li><a href="http://about.me/wangyaodi">About Me</a></li>
  <li><a href="https://plus.google.com/108320517625960982177/about?hl=en" style="color:red">@yorzi</a></li>
</ul>

</nav>
  <div id="main">
    <div id="content">
      <div class="blog-index">



  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/07/27/a-great-survey-solution-based-on-ruby-on-rails/">A Great Survey Solution Based on Ruby on Rails</a></h1>
    
    
      <p class="meta">




<time datetime="2010-07-27 00:00:00 +0800" pubdate  updated >Jul 27<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>I&#8217;ve been always looking for a powerful and flexible survey solution for a while, now I find it : <a href="http://github.com/breakpointer/surveyor">Surveyor</a>.</p>

<p><strong>What&#8217;s a Survey? </strong>
Here is a brief look at the similarities and differences between forms, surveys, questionnaires and quizzes.</p>

<p>Forms are a series of fields to be filled out by a user. Some forms are highly structured (such as a User form, or an Address form). Those highly structured forms can be created beforehand by a developer because they can map directly to models in the database. Other forms are highly unstructured, such as a questionnaire about your favorite types of food which are volatile. So form is simple structured format.</p>

<p>A Survey is a type of Form. Surveys are semi-structured data, in that we want to formulate the questions so they have “mineable” data, but they are not so structured as to be directly mappable to database tables (unless we desired to have one table per survey, do we?). Also If a survey field is not appropriately filled out (such as a misformatting), the user should be prompted to correct his/her answer. According to this needs, surveys should not prevent the user from completing them if they miss an answer, however. A Questionnaire is a type of Survey and meanwhile, a Quiz is also a type of Survey.</p>

<p><strong>How To Set Up Surveys Via Surveyor?</strong>
There is already a clear manual for helping people to use Surveyor <a href="http://github.com/breakpointer/surveyor">here</a>. You can find most of what you want directly in <a href="http://wiki.github.com/breakpointer/surveyor/">Surveyor&#8217;s official wiki</a>. However, I still want to share my experience on using Surveyor.</p>

<p><strong>Install Surveyor.</strong>
As a plugin:</p>

<pre>gem install haml
gem install fastercsv
script/plugin install git://github.com/breakpointer/surveyor.git -r 'tag v0.11.0'
</pre>


<p>Or as a gem:</p>

<pre># in environment.rb
config.gem "surveyor", :version => '~> 0.11.0', :source => 'http://gemcutter.org'
---
rake gems:install</pre>


<p>Surveyor is relied on haml and fastercsv(this is for supporting export csv survey results)
Generate assets, run migrations:</p>

<pre>script/generate surveyor
rake db:migrate</pre>


<p>Try out the &#8220;kitchen sink&#8221; survey:
<code>rake surveyor FILE=surveys/kitchen_sink_survey.rb FIXTURES=surveys/fixtures
</code>
The rake surveyor task overwrites previous surveys by default, but can append instead:
<code>rake surveyor FILE=surveys/kitchen_sink_survey.rb FIXTURES=surveys/fixtures APPEND=true</code></p>

<p>Now start your Rails server, you will see the demo survey &#8220;kitchen sink&#8221; on localhost:3000/surveys. This demo is pretty useful for you when you generate your own survey pattern. Because in kitchen sink demo, most of &#8220;Survey API&#8221; are there.</p>

<p><strong>Survey Sample</strong>
Well, let&#8217;s create our first survey. I paste my first as below, we can take a look at the way Surveyor support.
<code lang='ruby'></p>

<h1>/surveys/salon_survey.rb</h1>

<p>survey "欢迎您访问Idapted技术沙龙活动调查问卷！" do</p>

<p>  section "[Rails系统重构最佳实践]@beta-salon 2010/07/24" do</p>

<pre><code># A label is a question that accepts no answers
label "&lt;b&gt;希望您填写自己的个人信息，我们会为您提供最快速和专业的Ruby on Rails技术活动资讯！&lt;/b&gt;"

# When :pick isn't specified, the default is :none (no checkbox or radio button)
q_1 "请填写您的姓名(中英文名均可)"
a_1 :string

q_3 "请填写您的电话(如果我们有更多后续的技术交流活动，我们会发短信通知您:))"
a_3 :string

q_3 "请填写您的邮箱(如果我们有更多后续的技术交流活动，我们也会发邮件通知您:))"
a_3 :string

# A basic question with checkboxes
# "question" and "answer" may be abbreviated as "q" and "a"
q_2 "我们公司(Idapted)的产品涉及到以下几种技术，请选择您喜欢的主题，我们的研发团队会根据大家的反馈继续开展相关技术交流活动！", :pick =&gt; :any
a_1 "Ruby on Rails"
a_2 "Flex/Flash"
a_3 "VoIP/FreeSwitch"
a_4 "Erlang"
a_5 "Titanium/iPhone/iTouch/iPad Development"

# A dependent question, with conditions and rule to logically join them  
# the question's reference identifier is "2a", and the answer's reference_identifier is "1"
# question reference identifiers used in conditions need to be unique on a survey for the lookups to work
q_2a "请简单说明为什么您对所选择的技术感兴趣:)"
a_1 "说明：", :text
dependency :rule =&gt; "A or B or C or D"
condition_A :q_2, "==", :a_1
condition_B :q_2, "==", :a_2
condition_C :q_2, "==", :a_3
condition_D :q_2, "==", :a_4
condition_E :q_2, "==", :a_5

q_4 "您使用Ruby on Rails开发有多长时间了？", :pick =&gt; :one, :display_type =&gt; :slider
["刚开始", "半年", "一年", "两年", "两年以上"].each{|level| a level}

# Surveys, sections, questions, groups, and answers also take a custom css class for covenience in custom styling
q_6 "请介绍一下您自己的工作和感兴趣的技术", :custom_class =&gt; 'address'
a :text, :custom_class =&gt; 'mapper'
# validations can use regexp values
validation :rule =&gt; "A"
condition_A "=~", :regexp =&gt; /[0-9a-zA-z\. #]/
</code></pre>

<p>  end
end
</code>
In above sample, I create a &#8220;survey&#8221;, then I also create a &#8220;section&#8221; inside a survey. Yeah, you can define many section for a survey to make the whole survey being like a wizard, that&#8217;s pretty interesting. In on survey, there are more than 15 types of question, you can define a survey as using plain English, what you should obey is to refer to Kitchen Sink sample, it means you can only define a question type according to the certain rule, don&#8217;t worry, the rule is simple.</p>

<p>Once you finished defining the survey, it means you now have a ruby file, say salon_survey.rb, you should run the following commend in your terminal to migrate all your survey items into your application, remember the append command, it will let you not to delete previous survey which stored in the same application.</p>

<pre>rake surveyor FILE=surveys/salon_survey.rb FIXTURES=surveys/fixtures APPEND=true</pre>


<p>Wow, you now have your new survey list in the Survey root path after you restart your server. I guess you will like it.</p>

<p><strong>Customize Survey</strong>
All go well so far, But, there is a big weakness of this survey solution if you only use it as above. Because the Surveyor doesn&#8217;t support any easy way to manage the survey results. You should add the administration side in your application by yourself. I will also give you some hints on doing this.</p>

<p>Before your create management part for survey results, I remind you take a look at the survey configure file where you can do some really simple config for specific survey, such as define welcome page and finish page, or the survey title you want to customize. It&#8217;s something as below:
<code lang='ruby'></p>

<h1>Initializers/surveyor.rb</h1>

<h1>Loaded once. Restart your app (even in development) to apply changes made here</h1>

<p>Surveyor::Config.run do |config|
  config['default.relative_url_root'] = "surveys" #nil # "surveys"
  config['default.title'] = "EQ英语(Idapted) 技术沙龙调查问卷" #nil # "You can take these surveys:"
  config['default.layout'] = "surveyor_custom" # "surveyor_default"
  config['default.index'] = nil#:welcome_pages_path #:welcome_pages_path # "/surveys" # or :index_path_method
  config['default.finish'] =  :thankyou_pages_path # "/surveys" # or :finish_path_method
  config['use_restful_authentication'] = false # set to true to use restful authentication
  config['extend'] = %w(survey surveyor_helper surveyor_controller) #%w()
end
</code></p>

<p><strong>Survey Results Statistics</strong>
OK, last hints about adding management part of survey, here we should know clearly what&#8217;s the survey&#8217;s structure. So what&#8217;s Survey&#8217;s data structure? It&#8217;s like this:</p>

<pre>
# Survey structure
Survey-------Section1---------Question1---------Many Answers(From different user)
                                      ---------Q2
                                      ---------Q3
                                      ---------More Question
          -------Section2
          -------More Sections

#Response Structure. Each User Has one unique <strong>ResponseSet</strong>
ResponseSet---------Response1
                    ---------Response2
                    ---------More Responses
</pre>


<p>So you can display all results as you need. I do it as below:
<code lang='ruby'></p>

<h1>results_controller.rb</h1>

<p>class Admin::ResultsController &lt; Admin::BaseController
  layout "results"</p>

<p>  def index</p>

<pre><code>@surveys = Survey.all
</code></pre>

<p>  end</p>

<p>  def show</p>

<pre><code>@survey = Survey.find(params[:id])
@response_sets = @survey.response_sets
@questions = SurveySection.find_by_survey_id(params[:id]).questions
</code></pre>

<p>  end
end</p>

<h1>View show.html.erb</h1>

<table class="list_table">
  <tr>
    <th>ID</th>
    <th>Code</th>
    <% @questions.each do |question| %>
        <% next if question.display_order == 1 %>
        <th><%= "[" +question.display_order.to_s + "]" + question.text  %></th>
    <% end %>
  </tr>

<% @response_sets.each do |r_set| %>
  <tr>
    <td><%=h r_set.id %></td>
    <td><%=h r_set.access_code %></td>
    <% @questions.each do |question| %>
        <% next if question.display_order == 1 %>
        <td><%= display_response(r_set,question) %></td>
    <% end %>
  </tr>
<% end %>
</table>


<h1>results_helper.rb</h1>

<p>module Admin::ResultsHelper
  def display_response(r_set,question)</p>

<pre><code>sets = r_set.responses.select{|r| r.question.display_order == question.display_order}
    if sets.size == 0
        return "-"
    elsif sets.size == 1
        return (sets.first.string_value || sets.first.text_value || show_answer(sets.first))
    else
      txt = ""
    sets.each do |set|
      txt &lt;&lt; show_answer(set) + "&lt;br/&gt;"
    end
    return txt
 end
</code></pre>

<p>  end</p>

<p>  def show_answer(set)</p>

<pre><code> set.answer.text
</code></pre>

<p>  end
end
</code></p>

<p>God, I really make a long post, hope you can find something useful, feel free to contact me if you have any confusion.</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/07/27/a-great-survey-solution-based-on-ruby-on-rails/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/07/18/create-new-user-on-centos/">Create New User on CentOS</a></h1>
    
    
      <p class="meta">




<time datetime="2010-07-18 00:00:00 +0800" pubdate  updated >Jul 18<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><strong>STUDY NOTES:</strong></p>

<p><strong>syntax:</strong>
useradd -s /bin/bash -d [folder_name]  -c “[name]” [userid]</p>

<p><strong>sample:</strong>
useradd -s /bin/bash -d /home/andy -c &#8220;Andy Wang&#8221; andy</p>

<p><strong>chagne password:</strong>
passwd andy</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/07/18/create-new-user-on-centos/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/07/17/install-mysql-on-centos5-5/">Install Mysql on centOS5.5</a></h1>
    
    
      <p class="meta">




<time datetime="2010-07-17 00:00:00 +0800" pubdate  updated >Jul 17<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><strong>STUDY NOTES(<a href="http://library.linode.com/databases/mysql/centos-5" target="_blank">Linode VPS Doc Copy</a></strong><strong>):</strong></p>

<div id="installing-mysql">
<h2>Installing MySQL</h2>
Issue the following commands to update your system and install MySQL:
<pre>yum update
yum install mysql-server
/sbin/chkconfig --levels 235 mysqld on</pre>
The MySQL server package will be installed on your server, along with dependencies and client libraries. Start MySQL by running the following  command:
<pre>service mysqld start</pre>
</div>


<div id="configuring-mysql">
<h2>Configuring MySQL</h2>
After installing MySQL, it&#8217;s recommended that you run <tt>mysql_secure_installation</tt>, a program that helps secure MySQL. While running <tt>mysql_secure_installation</tt>, you will be presented with the opportunity to change the MySQL root  password, remove anonymous user accounts, disable root logins outside of  localhost, and remove test databases. It is recommended that you answer yes to  these options. If you are prompted to reload the privilege tables, select yes. Run the following command to execute the program:
<pre>mysql_secure_installation</pre>
By default, MySQL makes some assumptions about your server  environment with respect to memory. To configure MySQL more conservatively, you&#8217;ll need to edit some settings in the configuration file (<tt>/etc/my.cnf</tt>) as follows:
<pre>key_buffer = 16K
max_allowed_packet = 1M
thread_stack = 64K
table_cache = 4
sort_buffer = 64K
net_buffer_length = 2K</pre>
These settings are only suggested values for a low memory  environment; please feel free to tune them to appropriate values for your server. Consult the &#8220;More Information&#8221; section at the end of this tutorial for additional resources for this topic.

MySQL will bind to localhost (127.0.0.1) by default. Allowing unrestricted access to MySQL on a public IP not advised, but you may change the address it listens on by modifying the <tt>bind-address</tt> parameter. If you decide to bind MySQL to your public IP, you should implement firewall rules that only allow connections from specific IP addresses.

</div>


<div id="using-mysql">
<h2>Using MySQL</h2>
The standard tool for interacting with MySQL is the <tt>mysql</tt> client program. To get started, issue the following command at your prompt:
<pre>mysql -u root -p</pre>
You will be prompted to enter the root MySQL user&#8217;s password. Enter the password you assigned when you installed MySQL, and you&#8217;ll be presented with the MySQL monitor display:
<pre>Welcome to the MySQL monitor.  Commands end with ; or \g.
Your MySQL connection id is 1
Server version: 5.0.45 Source distribution

Type 'help;' or '\h' for help. Type '\c' to clear the buffer.

mysql&gt;</pre>
Let&#8217;s create a database and assign a user to it. Issue the following commands at the MySQL prompt:
<pre>CREATE DATABASE testdb;

CREATE USER 'testuser'@localhost IDENTIFIED BY 's8723hk2';

GRANT ALL PRIVILEGES ON testdb.* TO 'testuser'@localhost;

exit</pre>
Now let&#8217;s log back into the MySQL client as <tt>testuser</tt> and create a sample table called &#8220;customers.&#8221; Issue the following commands:
<pre>mysql -u testuser -p

USE testdb;

CREATE TABLE customers (customer_id INT NOT NULL AUTO_INCREMENT PRIMARY KEY, first_name TEXT, last_name TEXT);</pre>
This creates a table with a customer ID field of the type INT for integer (auto-incremented for new records, used as the primary key), as well as two fields for storing the customer&#8217;s name. Of course, you&#8217;d probably want to store much more information than this on a customer, but it&#8217;s a good example of a common case nonetheless.

</div>


<div id="resetting-the-mysql-root-password">
<h2>Resetting the MySQL  Root Password</h2>
If you&#8217;ve forgotten your root MySQL password, you may recover it by  issuing the following commands:
<pre>/etc/init.d/mysqld stop

mysqld_safe --skip-grant-tables &amp;

mysql -u root</pre>
The following part of the password reset will now be done within the  MySQL client program:
<pre>USE mysql;

UPDATE USER SET PASSWORD=PASSWORD("CHANGEME") WHERE USER='root';

FLUSH PRIVILEGES;

exit</pre>
Last, restart MySQL by issuing:
<pre>service mysqld restart</pre>
</div>

</div>
  <footer>
    <a rel="full-article" href="/2010/07/17/install-mysql-on-centos5-5/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/07/16/searchbar-in-titanium/">SearchBar in Titanium</a></h1>
    
    
      <p class="meta">




<time datetime="2010-07-16 00:00:00 +0800" pubdate  updated >Jul 16<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>In this post, I will guide you to use SearchBar in TableView when your development is based on Titanium.</p>

<p><strong>Keywords</strong>: <em>Titanium, TableView, TableViewRow, SearchBar</em></p>

<p><strong>Step 1</strong>: Create a table view row datas for your content list.
<code lang="javascript">
// create the rest of the rows
var data = [];
for (var c=0;c&lt;rowCount;c++)
{</p>

<pre><code>var row = Ti.UI.createTableViewRow();
row.backgroundImage = '../images/row_bg.png';
row.selectedBackgroundImage = '../images/row_bg_selected.png';
row.height = 90;
row.url = "formulas_show.js";
row.id = id;
row.className = 'datarow';
row.filter = "the data you want to search";  // here you will set the filter content which will be searched.
row.clickName = 'row';

data.push(row);
</code></pre>

<p>}
</code></p>

<p><strong>Step 2</strong>: Create a search bar.
<code lang="javascript">
// CREATE SEARCH BAR
var search = Titanium.UI.createSearchBar({</p>

<pre><code>barColor:'#385292', 
showCancel:false
</code></pre>

<p>});</p>

<p>search.addEventListener(&#8216;change&#8217;, function(e)
{
   e.value; // search string as user types
});
search.addEventListener(&#8216;return&#8217;, function(e)
{
   search.blur();
});
search.addEventListener(&#8216;cancel&#8217;, function(e)
{
   search.blur();
});
</code></p>

<p><strong>Step 3</strong>: Create a table view for your content list.
<code lang="javascript">
// create table view
tableView = Titanium.UI.createTableView({</p>

<pre><code>data:data, // here will be the data array
search:search, //here will set search bar
filterAttribute:'filter', //here is the search filter which appears in TableViewRow as an attribute(you can define it in other name)
backgroundColor:'white'
</code></pre>

<p>});
</code></p>

<p>Ok, now you can add search bar for table view content list. as a reminder, you should add event listener for the table view object, but the click event should be bundled with the &#8220;row&#8221;, so that you can search and click the search result linking to target window.</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/07/16/searchbar-in-titanium/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/07/14/titanium-db-synchronization/">Titanium : DB Synchronization</a></h1>
    
    
      <p class="meta">




<time datetime="2010-07-14 00:00:00 +0800" pubdate  updated >Jul 14<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><strong>Header Notes:</strong>
1. Static data should be released with app, just don&#8217;t do db synchronization.
2. Just embed sync background when ppl looking at some instructions/tips etc.
3. Don&#8217;t update db all the time.</p>

<p>App Start:
<em><strong>app.js</strong></em>
<code lang='javascript'>
// Localization libs
Ti.include('l10n/l10n.js');
Ti.include('l10n/l10n_dialog.js');
Ti.include('l10n/l10n_format.js');</p>

<p>var db = Titanium.Database.install('eq31formulas.db', 'eq31formulas');</p>

<p>// Ti.include('content/tab_formula.js')</p>

<p>// this sets the background color of the master UIView (when there are no windows/tab groups on it)
Titanium.UI.setBackgroundColor('#000');</p>

<p>// create tab group
var tabGroup = Titanium.UI.createTabGroup();</p>

<p>//
// create tab for tips
//
Ti.include('content/tab_tips.js');</p>

<p>//
// create tab for weibo
//
Ti.include('content/tab_weibo.js');</p>

<p>//
// create tab for formulas
//
Ti.include('content/tab_formulas.js');</p>

<p>// create tab for lang settings
var win_setting = Ti.UI.createWindow({</p>

<pre><code>title:_('tab_settings')
</code></pre>

<p>});</p>

<p>var tab_setting = Ti.UI.createTab({</p>

<pre><code>icon:'images/nav_icon_setting.png',
title:_('tab_settings'),
window:win_setting
</code></pre>

<p>});</p>

<p>var data = [];
var ACTION_LANGUAGE = 0;</p>

<p>var row = Ti.UI.createTableViewRow({
  title: _(&#8216;language&#8217;),
  hasChild: true,
  action: ACTION_LANGUAGE,
  className: &#8216;control&#8217;
});</p>

<p>var label_lang = Ti.UI.createLabel({
  textAlign: &#8216;right&#8217;,
  right: 10,
  width: 175,
  color: &#8216;#385487&#8217;,
  font: {fontSize: 16},
  text: L10N.getLanguageDisplayName()
});</p>

<p>row.add(label_lang);</p>

<p>data.push(row);</p>

<p>// create table view</p>

<p>var tableview = Ti.UI.createTableView({
  data:data,
  style:Ti.UI.iPhone.TableViewStyle.GROUPED
});</p>

<p>// add table click listener</p>

<p>tableview.addEventListener(&#8216;click&#8217;, function(e) {
  var rowdata = e.rowData;
  if (rowdata.action == ACTION_LANGUAGE) {</p>

<pre><code>// show language selection dialog

L10N.showLanguageSelectionDialog();
</code></pre>

<p>  }
});</p>

<p>win_setting.add(tableview);</p>

<p>//
//  add tabs
//
tabGroup.addTab(tab_formulas);<br/>
tabGroup.addTab(tab_tips);<br/>
tabGroup.addTab(tab_weibo);
tabGroup.addTab(tab_setting);</p>

<p>var omodes = [</p>

<pre><code>Titanium.UI.PORTRAIT,
Titanium.UI.UPSIDE_PORTRAIT,
Titanium.UI.LANDSCAPE_LEFT,
Titanium.UI.LANDSCAPE_RIGHT
</code></pre>

<p>];</p>

<p>win_formulas.orientationModes = omodes;
win_tips.orientationModes = omodes;
win_weibo.orientationModes = omodes;</p>

<p>Titanium.Analytics.featureEvent(&#8216;app.feature.blah&#8217;,{product:&#8217;killer&#8217;});</p>

<p>tabGroup.addEventListener(&#8216;open&#8217;,function()
{</p>

<pre><code>Titanium.UI.setBackgroundColor('#fff');
</code></pre>

<p>});</p>

<p>tabGroup.setActiveTab(0);
tabGroup.open({</p>

<pre><code>transition:Titanium.UI.iPhone.AnimationStyle.FLIP_FROM_LEFT
</code></pre>

<p>});</p>

<p>// add top level introduction of 31 formulas
Ti.include(&#8220;introduction.js&#8221;);</p>

<p>// synchronize db
Ti.include(&#8220;synchronize.js&#8221;);</p>

<p></code></p>

<p>Prepare data while launching the app:
<em><strong>synchronize.js</strong></em>
<code lang="javascript">
(function(){</p>

<pre><code>var db = Titanium.Database.open('eq31formulas');

    // JS test
var currentTime = new Date();
var month = currentTime.getMonth() + 1;
var day = currentTime.getDate();
var year = currentTime.getFullYear();

Titanium.API.info('JS TIME:' + currentTime);
// lesson = db.execute('SELECT * FROM LESSONS ORDER BY ID LIMIT 1')

if (Titanium.Network.online == true)
{
    Titanium.API.info('Online--update lessons!');
    var src = 'http://www.veecue.com/eq31formulas/data_service/lessons';
    c = Titanium.Network.createHTTPClient();

    c.onload = function()
    {   
        var json_data = JSON.parse(this.responseText);

        Titanium.API.info('lesson count:' + json_data.length);

        for(var i=0; i&lt;json_data.length; i++)
        {
            Titanium.API.info("updating lesson:" + i);
            var record = json_data[i].lesson;
            // add different control for UPDATE or INSERTION here
            db.execute('CREATE TABLE IF NOT EXISTS LESSONS (ID INTEGER, TITLE TEXT, AIMS TEXT, ANSWER_ORDER TEXT, LANG_STEP TEXT, MODEL_ANSWER TEXT)');
            db.execute('DELETE FROM LESSONS');
            db.execute("INSERT INTO LESSONS (ID, TITLE, AIMS, ANSWER_ORDER, LANG_STEP, MODEL_ANSWER) VALUES(?,?,?,?,?,?)", record.id, record.title, record.aims, record.answer_order, record.lang_step, record.model_answer);   
        }
    };

    // open the client
    c.open('GET', src);

    // send the data
    c.send();
}
else
{
    Titanium.API.info('Offline--');
    return;
}   
</code></pre>

<p>})();
</code></p>
</div>
  <footer>
    <a rel="full-article" href="/2010/07/14/titanium-db-synchronization/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/06/30/iphone-android-application-based-on-titanium-and-html5/">iPhone/Android Application Based on Titanium and HTML5</a></h1>
    
    
      <p class="meta">




<time datetime="2010-06-30 00:00:00 +0800" pubdate  updated >Jun 30<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>After a two-day experiment on <a href="http://www.appcelerator.com/">Titanium framework</a> and HTML5 technology, I finally found, we can quickly move into iPhone/iPad application development if we have enough extra time to refactor our Rails core application into HTML5 version.</p>

<p>I&#8217;ve made a Titanium based app demo to show how to structure the application according to our current system. Titanium framework includes plenty of powerful <a href="http://developer.appcelerator.com/doc/kitchensink">APIs</a> for us to generate cool &#8220;application container&#8221;, then we embed our content/system into this container. I think the Titanium can be organized clearly if we have clearly structured Rails/HTML5 application.</p>

<p>Talking about HTML5, I just want to share with everyone the resources I found, Google just started a HTML5 support website named <a href="http://www.html5rocks.com/">html5rocks</a>, it has a <a href="http://www.html5rocks.com/resources.html">html5 resources page</a> where it includes almost every single HTML5 resource website I found in last two days. (html5rocks was born blocked..)</p>

<p>PS, originally I want to show how I made a Titanium based iPhone application, but I found appcelerator really does a great job to help people getting started with Titanium, so I just quote it as below:</p>

<blockquote>Titanium translates your hard won web skills into native applications that perform and look just like they were written in Objective-C [iPhone and iPad] or Java [Android]. With over 300 APIs, a thriving developer community, and the support you need, you can build applications that are more social, local, media rich, interactive, and extensible. <a href="http://developer.appcelerator.com/doc/mobile/get_started">Getting Started with Titanium Mobile</a>. All these information is clear and in detailed. Appcelerator does a great job to guide you to start.</blockquote>

</div>
  <footer>
    <a rel="full-article" href="/2010/06/30/iphone-android-application-based-on-titanium-and-html5/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/06/20/renren-integration-into-eqenglish/">Renren Integration Into EQenglish</a></h1>
    
    
      <p class="meta">




<time datetime="2010-06-20 00:00:00 +0800" pubdate  updated >Jun 20<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p><img title="renren logo" src="http://www.idapted.com/blog/wp-content/uploads/2010/06/Screen-shot-2010-06-24-at-11.41.10-AM-300x86.png" alt="" width="270" height="77" /></p>

<p><a href="http://renren.com">The Renren Network</a>, which was formerly named Xiaonei Network is one of most successful Chinese social networking site. Renren is with an interface similar to that of <a href="http://www.facebook.com">Facebook</a>. It&#8217;s said that there are more than 22 million active users and estimated 40 million users who have registered their real names. Thus, Renren is widely considered to be the most powerful SNS service in Mainland China, especially among college students.</p>

<p>And, <a href="http://www.eqenglish.com">EQEnglish</a> is the fastest growing 1:1 English training service powered by <a href="http://www.idapted.com" target="_blank">Idapted</a> in China. It&#8217;s delivering thousands of lessons a week to students all over China with its professional foreign teachers. Now, conveniently, all Renren&#8217;s users can login EQenglish directly without registration again, at the same time, EQenglish is also using Renren site&#8217;s platform <a href="http://wiki.dev.renren.com/wiki/API" target="_blank">API</a> to share learners&#8217; study status with the community. It&#8217;s obviously a win-win model for both EQenglish and Renren.</p>

<p>Now, in order to introduce you about the integration between EQenglish and Renren SNS, let me take you go through the story.</p>

<p>[caption id=&#8221;&#8221; align=&#8221;alignright&#8221; width=&#8221;270&#8221; caption=&#8221;Login EQenglish system via Renren account&#8221;]<img title="Login EQenglish system via Renren account" src="http://www.idapted.com/blog/wp-content/uploads/2010/06/Screen-shot-2010-06-24-at-2.17.12-PM-300x205.png" alt="" width="270" height="185" />[/caption]</p>

<p>To login EQenglish via Renren account, you need to, at least have one Renren account, then on EQenglish portal you will see a login form  as right after you click &#8220;Connect via Rreren&#8221;. After you input your user name and password EQenglish will present you a guide page on which you decide to bundle your exist EQ account with your Renren account or just every time use your Renren account login EQ platform.</p>

<p>What will happen next when you do the login?</p>

<p>On EQenglish website, you will be marked with a Renren icon and you can share EQ learning materials or EQ discussion thread or EQ study status with your Renren friends. For instance, you just discussed an EQ lesson named &#8220;EQ IELTS Formula 26: Evaluating Two Different Opinions&#8221; with your classmates on EQenglish studycenter, then the system will send this discussion status to your Renren friends, something like &#8220;Hey, I am discussing an interesting EQ lesson on their website, come and join in, it&#8217;s cool..&#8221;, surely, it&#8217;s based on your Renren setting on connected websites.</p>

<p>There, on Renren website, is also an <a href="http://page.renren.com/699099142/index" target="_blank">application home page</a> where all the EQ followers can keep talking about their EQ study story or learning experience, At the same time, EQ consultants spread out EQ learning tips with all its fans. In past two weeks, there are more than 300 learners follow EQ application in Renren Site. People rate <a href="http://page.renren.com/699099142/reviews" target="_blank">many 5-stars</a> for this connection application.</p>

<div class="mceTemp"><dl id="attachment_202" class="wp-caption alignright" style="width: 563px;"><dt><img title="EQ application home page on Renren site" src="http://www.idapted.com/blog/wp-content/uploads/2010/06/Screen-shot-2010-06-24-at-11.21.01-AM.png" alt="" width="553" height="285" /></dt><dd>EQ application home page on Renren site</dd></dl></div>


<p>So, users conveniently use their Renren accounts to login EQenglish. The user may then grant EQenglish access to their public data including: Real identity information, social graph, etc. Using this information, EQenglish can expand leaner base and strengthen the social aspects of EQ self. What&#8217;s useful is, Renren users can find all the valuable information on EQenglish message feeds through their friends feeds, People can make content(EQ learning materials), or anything else(lesson discussion thread) available for sharing.</p>

<p>Technically, this integration is still have big room to improve, it depends on Renren&#8217;s open platform, We are ready to enhance user experience for all EQenglish learners, We always believe in a formula when we development EQenglish learning system, that is:
Great Technology + Clear Convenience = Comfortable Awesome</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/06/20/renren-integration-into-eqenglish/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/06/16/experiment-bowline/">Experiment Bowline</a></h1>
    
    
      <p class="meta">




<time datetime="2010-06-16 00:00:00 +0800" pubdate  updated >Jun 16<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><blockquote>Bowline is a framework for making cross platform desktop applications in Ruby, HTML and JavaScript.

If you&#8217;ve ever wished creating a desktop application was as simple as creating a Rails website, Bowline&#8217;s for you.

Bowline respects MVC, you can design your views in HTML5/CSS3 - then bind them to your Ruby models. There&#8217;s no request/response cycle - any changes in models automatically get reflected in the view.</blockquote>


<p style="text-align: right;"><strong>See : <a href="http://bowlineapp.com/">http://bowlineapp.com/</a></strong></p>


<p>Experiment on this framework:</p>

<p><strong>Requirements:</strong></p>

<ul>
<li>Mac OSX &gt;=10.5 or Ubuntu &#8212;&#8211;&gt; [I am on Ubuntu 9.04]</li>
<li>Ruby 1.9 &#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;&gt; [I use <a href="http://rvm.beginrescueend.com/">RVM</a> to switch ruby between different version]</li>
<li>Bowline gem &#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8212;&#8211;&gt; sudo gem install <a href="http://github.com/maccman/bowline">bowline</a></li>
</ul>


<p><strong>RVM</strong></p>

<ul>
<li><a href="http://rvm.beginrescueend.com/rvm/install/">Install RVM</a> to manage Ruby easily, then you decide which version you will use.</li>
</ul>


<p>OK, Now create an application in an easy way:
<span style="color: #0000ff;"><em>&gt;&gt; bowline-gen app helloworld
&gt;&gt; cd helloworld
&gt;&gt; bowline-bundle
&gt;&gt; ./script/run</em></span></p>

<p>Unluckily, On Ubuntu 9.0.4, There is an error about a needed lib when I run the application, see
<span style="color: #0000ff;"><em>/usr/lib/libstdc++.so.6: version `GLIBCXX_3.4.11&#8217; not found (required by /home/andy/.bowline/bowline-desktop)</em></span></p>

<p>I searched around and found it&#8217;s something wrong with gcc version, or these is still a webkit lib involved issue under Ubuntu9.0.4, anyway, it&#8217;s interesting to me, I am now wondering if we can reference some bowline experience to create iphone/ipad application based on ruby on rails. not sure, I am researching in advance.</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/06/16/experiment-bowline/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/05/19/learn-from-renren-api/">Learn From Renren API</a></h1>
    
    
      <p class="meta">




<time datetime="2010-05-19 00:00:00 +0800" pubdate  updated >May 19<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>Been working on Renren Connect application for a while, when talking about its API, I think every coin has two sides, so let&#8217;s see its sides:</p>

<p>A(davantage) side :
1. Configure cross domain file to resolve JS cross-domain issue between application domain and renren domain. Not sure if a similar solution can solve our ajax load cross domain-issue.. or meet our other future use. The file as below:
<code lang="html">
&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" >
<head></p>

<pre><code>&lt;meta http-equiv="Content-Type" content="text/html; charset=UTF-8" /&gt;
</code></pre>

<p></head>
<body></p>

<script src="http://static.connect.renren.com/js/v1.0/XdCommReceiver.jsp" type="text/javascript"></script>


<p></body>
</html>
</code></p>

<ol>
<li>Learn from Renren &#8220;markable language&#8221;, it&#8217;s an clear way to capsule complex code block. It may help us to build standard function/display lib in future, I guess its a good way to reuse component among applications. sample is:
<code lang="html">
&lt;!DOCTYPE html PUBLIC "-//W3C//DTD XHTML 1.0 Transitional//EN" "http://www.w3.org/TR/xhtml1/DTD/xhtml1-transitional.dtd">
<html xmlns="http://www.w3.org/1999/xhtml" xmlns:xn="http:///www.renren.com/2009/xnml">
<head>
<meta http-equiv="Content-Type" content="text/html; charset=UTF-8" />
<title>Renren Connect</title>
</head>
<body>
&lt;xn:login-button autologoutlink="true">&lt;/xn:login-button>
<script type="text/javascript" src="http://static.connect.renren.com/js/v1.0/FeatureLoader.jsp"></script>
<script type="text/javascript">
 XN_RequireFeatures(["EXNML"], function()
 {
   XN.Main.init("16356ddc758343a39400837e79f1a18e", "/xd_receiver.html");
 });
</script>
</body>
</html>
</code>
Above two technologies are a bit impressive to me, we may use it in future to organize our platform somehow.</li>
</ol>


<p>D(isadvantage) side:
1. I think the first &#8220;D&#8221;, which is also bad, is the development document. It&#8217;s partially out-of-date, that results in many stupid tries for their API. So we should learn the lesson and plan to write handful document in a clear way..</p>

<ol>
<li>The second &#8220;D&#8221; is Renren doesn&#8217;t have convenient sandbox for testing the third party application, we can&#8217;t easily test or improve it when it&#8217;s released, cause Renren only has one single configuration for each one application, that also means we have to take risk for further development which may change your application directly when it&#8217;s released.</li>
</ol>


<p>Summary:
Great Technology + Clear Convenience = Comfortable Awesome</p>
</div>
  <footer>
    <a rel="full-article" href="/2010/05/19/learn-from-renren-api/">Read on &rarr;</a>
  </footer>


  </article>


  <article>
    
  <header>
    
      <h1 class="entry-title"><a href="/2010/04/28/overview-of-renren-connect-application/">Overview of RenRen Connect Application</a></h1>
    
    
      <p class="meta">




<time datetime="2010-04-28 00:00:00 +0800" pubdate  updated >Apr 28<span>th</span>, 2010</time>


</p>
    
  </header>


  <div class="entry-content"><p>I’ve read <a href="http://wiki.dev.renren.com/wiki/%E9%A6%96%E9%A1%B5">RenRen development Doc</a> and tried some simple feature for a while, its platform is interesting and exciting, but much of its document is out of date(I guess it’s not been maintained for a time). so there are pains to test most of its APIs, here I will roughly introduce what we can do based on RenRen open platform.</p>

<p>First of all, RenRen platform supports <a href="http://wiki.dev.renren.com/wiki/%E5%90%8D%E8%AF%8D%E8%A7%A3%E9%87%8A">five types of APPLICATION</a>, which are:
– RenRen Canvas. It means application/content is embedded in RenRen’s web container via XNML/IFrame/OpenSocial-Gadget etc.
– Mobile Wap application.
– RenRen Connect. It means an external website is connected to RenRen, the two sites can share many different infos according to the channel/bridge API.
– Desktop Application.
– Mobile Client Application.</p>

<p>Obviously, RenRen Connect is what developer need upon first step. So the question is how does it work? Follow me, I will go through the imagined application to show what feature developer can build according to RenRen connect API, now go:</p>

<ol>
<li><p>Tom is a RenRen user, he just find an “application” which tells him he can improve his oral English, that’s interesting, he clicks it in order to add the application to his list.</p></li>
<li><p>Then he find EQenglish.com, he uses his RenRen account to login EQenglish, He find he can order an speaking evaluation for free on the website, and what’s more, he even can push this message and/or the study status to his RenRen friends.</p></li>
<li><p>Tom goes through EQenglish website to check EQ learning methods, He can easily share the web page to his RenRen friends.</p></li>
<li><p>Andy is an EQenglish user, he bundles his EQ account and RenRen account on EQenglish website, so he can push his study status to his RenRen friends.</p></li>
<li><p>Andy finally buy a course, then all EQ learners who have RenRen accounts can receive an email/notification, in which it broadcasts “Andy buy a course ***” something like that.</p></li>
<li><p>Once Andy discussed an EQ lesson, his comments is synced to his RenRen status, all of his Friends there can see his status.</p></li>
<li><p>Tom finds Andy’s EQ profile via the discussion thread, the surprise is Andy’s is his School mate, they have the same IELTS exam time. They connect with each other on RenRen.</p></li>
<li><p>What’s more, Tom finds a section in EQ website, He can pick up all his Friends list, and suggest them to use EQ service. Also aside the lesson discussion thread, there is a live stream box connecting to RenRen page. so He can easily comment with friend..</p></li>
</ol>


<p>Etc..</p>

<p>Above is a rough introduction of RenRen connect feature developer can build(it is based on RenRen connect’s API, not just my imagination).<a href="http://wiki.dev.renren.com/wiki/%E4%BA%A7%E5%93%81%E5%8A%9F%E8%83%BD%E8%AF%A6%E8%A7%A3">Click here to review RenRen Conncet Production Description.</a></p>
</div>
  <footer>
    <a rel="full-article" href="/2010/04/28/overview-of-renren-connect-application/">Read on &rarr;</a>
  </footer>


  </article>

<nav role="pagination">
  <div>
    
      <a class="prev" href="/page5/">&larr; Older</a>
    
    <a href="/blog/archives">Blog Archives</a>
    
      <a class="next" href="/page3/">Newer &rarr;</a>
    
  </div>
</nav>

<script type="text/javascript">
    var disqus_shortname = 'refactoringthoughts';
    (function () {
      var s = document.createElement('script'); s.async = true;
      s.type = 'text/javascript';
      s.src = 'http://' + disqus_shortname + '.disqus.com/count.js';
      (document.getElementsByTagName('HEAD')[0] || document.getElementsByTagName('BODY')[0]).appendChild(s);
    }());
</script>

</div>
<aside role=sidebar>
  
    <section>
  <img src="https://img.skitch.com/20110814-rrw7uufrh7wc6eugk6yf4163qb.jpg"></img>
  <p>Hi, I&#8217;m <b style="color:red">Andy Wang</b>.<br />
     I live in <b style="color:red">Beijing</b>, China. <br />
     I&#8217;m a <b style="color:red">Sr. Ruby/Rails Engineer</b> at <a href="http://intridea.com">Intridea</a>.</p>
</section>
<section>
  <h1>Recent Posts</h1>
  <ul id="recent_posts">
    
      <li class="post">
        <a href="/2013/04/27/map_basics_for_noob/">Map basics for noob</a>
      </li>
    
      <li class="post">
        <a href="/2013/01/19/downloadable-svg-in-png-format/">Downloadable SVG in PNG Format</a>
      </li>
    
      <li class="post">
        <a href="/2012/10/22/run-a-static-website-on-heroku-for-free/">Run a Static Website on Heroku for Free</a>
      </li>
    
      <li class="post">
        <a href="/2011/08/14/now-my-blog-is-running-on-octopress/">Now My Blog Is Running on Octopress</a>
      </li>
    
      <li class="post">
        <a href="/2011/06/14/riding-on-rails3-with-full-stack-of-gems/">Riding on Rails3 with full stack of Gems</a>
      </li>
    
      <li class="post">
        <a href="/2011/03/21/weekly-updates-javascript-rocks/">Weekly Updates : Javascript Rocks!</a>
      </li>
    
      <li class="post">
        <a href="/2011/03/09/settimeout-and-setinterval/">JS note: setTimeout and setInterval</a>
      </li>
    
      <li class="post">
        <a href="/2011/02/18/real-time-application-with-rails3/">Real-Time Application with Rails3</a>
      </li>
    
  </ul>
  <p>>>>>>>>>  <a style="color:red" href="/blog/archives">More Posts in Archives</a></p>
</section>

<section>
  <h1>Latest Tweets</h1>
  <ul id="tweets">
    <li class="loading">Status updating&#8230;</li>
  </ul>
  <script type="text/javascript">
    $.domReady(function(){
      getTwitterFeed("yorzi", 4, false);
    });
  </script>
  <script src="/javascripts/twitter.js" type="text/javascript"> </script>
  
    <a href="http://twitter.com/yorzi" class="twitter-follow-button" data-width="208px" data-show-count="false">Follow @yorzi</a>
  
</section>


<section>
  <h1>On Delicious</h1>
  <script type="text/javascript" src="http://feeds.delicious.com/v2/js/yorzi?title=&count=3&sort=date&extended"></script>
  <p><a href="http://delicious.com/yorzi">My Delicious Bookmarks &raquo;</a></p>
</section>


  
</aside>

    </div>
  </div>
  <footer><p>
  Copyright &copy; 2013 - Andy Wang -
  <span class="credit">Powered by <a href="http://octopress.org">Octopress</a></span>
</p>

</footer>
</body>
</html>
